@use "global"as *;

.footer-layout {
  margin-top: 0;

  @include mq(md) {
    // margin-top: rem(120);
  }
}



.footer-layout--thanks {
  margin-top: rem(148);

  @include mq(md) {
    margin-top: rem(124);
  }
}

.footer-layout--error {
  margin-top: rem(147);

  @include mq(md) {
    margin-top: rem(120);
  }
}

.error404 .footer-layout {
  margin-top: 0; // 404ページでは上書き
}
