@use "global" as *;

.animation-airplane {
	display: none;
	@include mq(md) {
		display: block;
		position: relative;
    width: 900px;
    height: 100px;
    margin: 25px auto;
    overflow: visible;
	}
}

#airplane {
position: absolute;
    width: 50px;
    height: auto;
}
