@use "global" as *;

.home-news-layout {
	margin-top: rem(60);
}
.home-news {
  margin-inline: auto;
  width: 100%;

  @include mq(md) {}
}

.home-news__container {
		margin-inline: auto;
  width: 100%;
	@include mq(md) {
    display: grid;
    grid-template-columns: 68% 27%;
		grid-template-rows: auto; // 各行の高さを自動調整
    gap: 5%;
  }
}

.home-news__main {
  margin-inline: auto;
  width: 100%;
  padding-left: rem(6);
  padding-right: rem(6);

  @include mq(md) {
    padding-left: 0;
    padding-right: 0;
  }
}

.home-news__list {
  margin-inline: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(36);
}
.home-news__item {
	margin-inline:auto;
	width:100%;
}
.home-news__more{
	margin-top: rem(60);
	display: flex;
	justify-content: center;
	align-items: center;


}
