@use "global" as *;

.mv {
	margin-inline:auto;
	width:100%;
  position: relative;
}
.mv__img {
  margin-inline: auto;
  width: 100%;
}
.mv__img img {
	height:rem(460);
  aspect-ratio: 375 / 460;
  object-fit: cover;
  @include mq(md) {
		height:rem(548);
    aspect-ratio: 1440 / 548;
  }
}
.mv__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 2;
  // width: 100%;
  text-align: center;
  font-size: rem(40);
  font-family: $base-font-family;
  font-weight: $regular;
  line-height: 1;
  letter-spacing: 0;

  @include mq(md) {
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -61%);
    font-size: rem(80);
    line-height: 1.25;
  }
}
.mv__title::first-letter {
  text-transform: uppercase;
}

.mv__video-container {
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* 画面いっぱいに表示 */
  overflow: hidden;
}

.mv__video-container video {
  width: 100%; /* 動画の横幅を100%に設定 */
  height: 100%; /* 動画の高さも100%に設定 */
  object-fit: cover; /* 動画を要素全体にフィットさせる */
  object-position: center; /* 中央揃えで表示 */
}
