@use "global" as *;

.nav-menu {
	margin-inline:auto;
	width:100%;
	color:$greenaccent;
	@include mq(md) {

	}
}

.nav-menu__box {
    display: grid;
   grid-template-columns: 1fr;
		color:$greenaccent;
		width: 100%;
		height:inherit;
		@include mq(md) {
				grid-template-columns: 1fr 1fr;
		}
}


.nav-menu__item {
	width: 100%;
	height:inherit;
}

.nav-menu__item p {
		width: 100%;
		height:inherit;
		font-size: rem(20);
			font-family: $base-font-family;
			font-weight: $bold;
			line-height: 2;
			letter-spacing: 0;
			white-space: nowrap;
}
