@use "global" as *;

.news-media {
  width: 100%;
  height: 100%;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: $white;

}
.news-media__link {
  padding-top: rem(18);
  padding-left: rem(16);
  padding-right: rem(16);
  padding-bottom: rem(26);
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  grid-template-rows: auto 1fr;
  @include mq(md) {
    padding-top: rem(16);
		grid-template-columns: 1fr;
  }
}
.news-media__container {
	display: flex;
	flex-direction: column;
	@include mq(md) {
		display: flex;
		flex-direction: row;
		gap:rem(20);

	}
}
.news-media__img {
  width: 100%;
	min-height: rem(201);
  cursor: pointer;
	overflow: hidden;
	@include mq(md) {
		max-width: rem(301);
	}
}

.news-media__img img {
  width: 100%;
	height:auto;
  aspect-ratio: 301 /201;
	transition: transform .6s ease; /* アニメーションを滑らかに */
  transform-origin: center; /* 拡大の基点を中心に */
  transform: scale(1); /* 初期状態でのサイズを指定 */
}
.news-media__img:hover img {
  transform: scale(1.1); /* 拡大 */
}

.news-media__content {
  width: 100%;
  height: 100%;
	display: flex;
	flex-direction: column;
}

.news-media__meta {
		display: flex;
	flex-direction: row;
	gap: rem(30);
	padding-top:rem(10);

}


.news-media__date {
  font-size: rem(12);
  font-family: $base-font-family;
  font-weight: $regular;
  letter-spacing: 0;
  color: $font-color;
	@include mq(md) {
		font-size: rem(14);
	}
}

.news-media__category {
		border:1px solid $greenaccent;
	padding:2px 8px 3px;
	line-height: 1;
	white-space: nowrap;

}
.news-media__content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap:rem(10);


}

.news-media__title {
	font-size: rem(20);
	font-weight: $bold;
	letter-spacing: 0.1em;
	line-height: 1.5;
	padding-bottom: rem(4);
	@include mq(md) {
		line-height: 1.5;
		font-size: rem(24);
	}
}

.news-media__text {
	font-size: rem(16);
  font-family: $base-font-family;
  font-weight: $medium;
  line-height: 1.5;
  letter-spacing: 0;
  color: $font-color;
  margin-top: rem(16);
	@include mq(md) {
			margin-top: 0;
			font-size: rem(20);
	}
}
