@use "global" as *;
.page-404 {
  background-color: $greenaccent;
  padding-top: rem(80);
	padding-bottom: rem(80);
	text-align: center;
	position: relative;
	z-index: 0;
  @include mq(md) {
    padding-top: rem(90);
		padding-bottom: rem(80);
  }
}

.page-404__container {
  margin-inline: auto;
  width: 100%;
  margin-top: rem(120);
  min-width: rem(202);
  text-align: center;
  padding-bottom: rem(40);

  @include mq(md) {
    padding-bottom: rem(148);
    margin-top: rem(136);
		max-width: rem(600);
}}

.page-404__title {
	margin-inline:auto;
	width:100%;
  font-size: rem(60);
  font-family: $base-font-family;
  font-weight: $regular;
  line-height: 1;
  letter-spacing: 0.2em;
	text-indent:0.2em;
  color: $white;
	opacity: 0.2;
  @include mq(md) {
    font-size: rem(80);
  }
}
.page-404__img {
	margin-inline:auto;
	width:100%;
	margin-top: rem(30);
	max-width: rem(200);
	@include mq(md) {
	max-width: rem(300);
	}
}
.page-404__text {
  margin-top: rem(30);
  font-size: rem(16);
  font-family: Arial, sans-serif;
  font-weight: $regular;
  line-height: 1.5;
  letter-spacing: 0;
  color: $white;

}
.page-404__button {
  margin-top: rem(40);
	margin-inline:auto;

  @include mq(md) {
    margin-top: rem(80);
  }
}
