@use "global"as *;

.plan-card {
  width: 100%;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.plan-card__img {
  width: 100%;
}

.plan-card__img img {
  width: 100%;
  height: auto;
  aspect-ratio: 280 /188;
  object-fit: cover;

  @include mq(md) {
    aspect-ratio: 333 /223;
  }
}

.plan-card__img--side img {
  aspect-ratio: 294 /188;
}

.plan-card__body {
  width: 100%;
  padding-top: rem(16);
  padding-bottom: rem(24);
  padding-left: rem(16);
  padding-right: rem(16);
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  @include mq(md) {
    padding-top: rem(24);
    padding-bottom: rem(44);
  }
}


.plan-card__top {
  padding-bottom: rem(8);

  @include mq(md) {
    padding-bottom: rem(6);
  }
}


.plan-card__category {
  font-size: rem(12);
  font-family: $base-font-family;
  font-weight: $regular;
  line-height: 1.83;
  letter-spacing: 0;
  color: $greenaccent;
  border: 1px solid $greenaccent;

  display: inline-block;
  padding-left: rem(12);
  padding-right: rem(12);
  padding-top: rem(4);
  padding-bottom: rem(4);

  @include mq(md) {
    padding-left: rem(16);
    padding-right: rem(16);
    padding-top: rem(6);

  }
}

.plan-card__title {
  margin-top: rem(4);
  font-size: rem(16);
  font-family: $base-font-family;
  font-weight: $medium;
  line-height: 1.7;
  letter-spacing: 0;
	@include mq(md) {
		font-size: rem(20);

	}
}

.plan-card__text {
  margin-top: auto;
  text-align: left;
  border-top: 1px solid $greenaccent;
  padding-top: rem(8);

  @include mq(md) {
    padding-top: rem(16);
  }
}



.plan-card__price-info {
  font-size: rem(14);
  font-family: $base-font-family;
  font-weight: $regular;
  line-height: 1.71;
  letter-spacing: 0;
  text-align: center;
	margin-top:rem(24);

  @include mq(md) {
    font-size: rem(16);
    line-height: 1.5;
    padding-right: rem(12);
  }
}

.plan-card__price-info--side {

  @include mq(md) {
    font-size: rem(14);
    line-height: 1.71;
  }
}

.plan-card__price-text {
  margin-top: rem(4);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: rem(20);
  padding-right: rem(18);

  @include mq(md) {
    font-size: rem(40);
    margin-inline: auto;
    width: 100%;
    padding-left: 0;
    padding-right: 0;

  }
}


.plan-card__price-old {
  display: inline-block;
  margin-top: rem(16);
  font-size: rem(20);
  font-family: $base-font-family;
  font-weight: $bold;
  line-height: 1;
  letter-spacing: 0;
  color: $font-color;
  text-decoration: line-through;
  text-decoration-color: #c94800;

  @include mq(md) {
    margin-top: rem(16);
    font-size: rem(24);
    padding-right: rem(26);
  }
}

.plan-card__price-new {
  margin-top: rem(4);
  font-size: rem(32);
  font-family: $base-font-family;
  font-weight: $bold;
  line-height: 1;
  letter-spacing: 0;
  color: $greenaccent;

  @include mq(md) {
    font-size: rem(40);
  }
}



.plan-card__subbody {
  display: none;

  @include mq(md) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    margin-top: rem(24);
    text-align: center;
    color: $greenaccent;
  }
}

.plan-card__subtext {
  font-size: rem(16);
  font-family: $base-font-family;
  font-weight: $regular;
  line-height: 1.5;
  letter-spacing: 0;
  color: $font-color;
  text-align: left;
  flex-grow: 1;
}

.plan-card__meta {
  margin-top: auto;
}

.plan-card__date {
  margin-top: rem(32);
  font-size: rem(16);
  font-family: $base-font-family;
  font-weight: $bold;
  line-height: 1;
  letter-spacing: 0;
}

.plan-card__microcopy {
  margin-top: rem(7);
  font-size: rem(14);
  font-family: $base-font-family;
  font-weight: $regular;
  line-height: 1;
  letter-spacing: 0;
}

.plan-card__button {
  margin-top: rem(16);
  text-align: center;
}
