@use "global" as *;

.sidebar {

}
.sidebar__related {
	margin-inline:auto;
	width:100%;

}

.sidebar__related-title {
	margin-top:rem(8);
}

.sidebar__related-list {
	margin-inline:auto;
	width:100%;
	margin-top: rem(40);
	display: flex;
	flex-direction: column;
	gap:rem(40);
}

.sidebar__related-item {
  width: 100%;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
	position: relative;

}

.sidebar__related-link {

}

.sidebar__related-category {
	position: absolute;
	top:0;
	left:0;
	display: inline-block;
	background-color: #fff;
	color:$greenaccent;
	padding:rem(2) rem(10);
	border: 1px solid $greenaccent;
}

.sidebar__related-img {
	  width: 100%;
  height: auto;

}
.sidebar__related-img img {
	  width: 100%;
  height: auto;
  aspect-ratio: 294 / 188;
  object-fit: cover;

}
.sidebar__related-name {
	padding:rem(8);

}

.sidebar__related-none {

}
