@use "global" as *;

.single-news {
	margin-inline: auto;
  width: 100%;
	@include mq(md) {
			padding-right: rem(3);
	}
}

.single-news__inner {

}

.single-news__container {
	margin-top: rem(60);
	@include mq(md) {
    display: grid;
    grid-template-columns: 65.4% 27.2%;
		grid-template-rows: auto; // 各行の高さを自動調整
    gap: 7.4%;
  }
}
.single-news__main {
  min-height: 100%;
}



.single-news__post {
  margin-inline: auto;
  width: 100%;
}

.single-news__top {
}

.single-news__date {
  font-size: rem(14);
  font-family: $base-font-family;
  font-weight: $regular;
  line-height: 2;
  letter-spacing: 0;
}

.single-news__title {
  font-size: rem(24);
  font-family: $base-font-family;
  font-weight: $medium;
  line-height: 1.5;
  letter-spacing: 0;
  margin-top: rem(8);
  padding-bottom: rem(10);
  border-bottom: 1px solid $greenaccent;
  @include mq(md) {
    font-size: rem(32);
  }
}
.single-news__eyecatch {
	width: 100%;
	margin-top: rem(24);
	@include mq(md) {
    margin-top: rem(40);
  }
}
.single-news__eyecatch img {
	aspect-ratio: 345 / 231;
  object-fit: cover;
  @include mq(md) {
    aspect-ratio: 700 / 468;
  }
}
.single-news__content {
  margin-inline: auto;
  width: 100%;
  margin-top: rem(24);
  text-align: left;
  @include mq(md) {
    margin-top: rem(40);
  }
}

.single-news__content img{
  width: 100%;
	margin-top: rem(24);
	aspect-ratio: 345 / 231;
  object-fit: cover;
	@include mq(md) {
    margin-top: rem(40);
		aspect-ratio: 700 / 468;
  }
}

.single-news__content p {
  font-size: rem(16);
  font-family: $base-font-family;
  font-weight: $regular;
  line-height: 1.5;
  letter-spacing: 0;
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(40);
		 font-size: rem(20);
  }
}


.single-news__nav {
	position: relative;
	width: 100%;
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(80);
  }
}


.single-news__nav .news-nav__arrows {
  display: flex;
  justify-content: center;
  gap: rem(82);
}


.single-news__side {
  margin-inline: auto;
  width: 100%;
  padding-left: rem(25);
  padding-right: rem(25);
  margin-top: rem(80);

  @include mq(md) {
    width: rem(294);
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
  }
}
.single-news__more {
		margin-top: rem(60);
	display: flex;
	justify-content: center;
	align-items: center;
}
