@use "global" as *;

.single-tour_plan {
	margin-inline: auto;
  width: 100%;

}
.single-tour_plan-layout {
	margin-top: rem(40);
}
.single-tour_plan__inner {

}



.single-tour_plan__container {
	margin-inline: auto;
  width: 100%;
	margin-top: rem(80);
	@include mq(md) {
    display: grid;
    grid-template-columns: 70% 25%;
    gap: 5%;
  }

}
.single-tour_plan__main {
	margin-inline: auto;
  width: 100%;
  padding-left: rem(6);
  padding-right: rem(6);
  @include mq(md) {
    padding-left: 0;
    padding-right: 0;
  }

}

.single-tour_plan__article {


}
.single-tour_plan__header {

}

.single-tour_plan__title {
	font-size: rem(24);
  font-family: $base-font-family;
  font-weight: $medium;
	line-height: 2;
  letter-spacing: 0;
  padding-bottom: rem(16);
  border-bottom: 1px solid $greenaccent;
  @include mq(md) {
    font-size: rem(32);
  }

}

.single-tour_plan__categories {}


.single-tour_plan__category {
	display: inline-block;
	padding:rem(4) rem(10);
	border: 1px solid $greenaccent;
	font-size: rem(12);
			font-family: $base-font-family;
			font-weight: $regular;
			line-height: 1.83;
			letter-spacing: 0;
	color:$greenaccent;
	@include mq(md) {
		font-size: rem(14);
			padding-right: rem(14);
			padding-left: rem(14);

}}

.single-tour_plan__image {
		width: 100%;
	margin-top: rem(24);
	@include mq(md) {
    margin-top: rem(40);
  }

}
.single-tour_plan__image img {
		aspect-ratio: 345 / 231;
  object-fit: cover;
  @include mq(md) {
    aspect-ratio: 700 / 468;
  }
}
.single-tour_plan__body {
	padding: rem(16);
	display: flex;
	flex-direction: column;
	flex-grow: 1;



  }



.single-tour_plan__content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-grow: 1;


}
.single-tour_plan__content img {
	width: 100%;
	margin-top: rem(24);
	aspect-ratio: 345 / 231;
  object-fit: cover;
	@include mq(md) {
    margin-top: rem(40);
		aspect-ratio: 700 / 468;
  }
}
.single-tour_plan__content p {
	font-size: rem(16);
  font-family: $base-font-family;
  font-weight: $regular;
  letter-spacing: 0;

  @include mq(md) {
		font-size: rem(20);
  }
}
.single-tour_plan__price {
	margin-top: rem(40);

}

.single-tour_plan__price-label {
	font-size: rem(14);
	line-height: 1.2;

}

.single-tour_plan__price-value {
	font-size: rem(32);
	line-height: 1.5;

}

.single-tour_plan__booking {

}

.single-tour_plan__booking-button {

}

.button {

}

.single-tour_plan__related {
	margin-top:rem(64);


}

.single-tour_plan__related-title {
	margin-top:rem(60);
	font-size: rem(20);
	font-weight: $bold;
	line-height:2;
	padding-bottom: rem(10);
	border-bottom: 1px solid $greenaccent;


}

.single-tour_plan__related-list {
	margin-top: rem(30);
	display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px; /* 要素間の余白 */

	@include mq(md) {
		display:grid;
		grid-template-columns: 1fr 1fr;
		gap:rem(30);

	}

}

.single-tour_plan__related-item {

}

.single-tour_plan__related-link {

}

.single-tour_plan__related-img {
	width: 100%;
  height: auto;

}

.single-tour_plan__related-img img {
	width: 100%;
  height: auto;
  aspect-ratio: 294 / 188;
  object-fit: cover;

}

.single-tour_plan__related-name {
	margin-top:rem(10);
	font-size: rem(20);


}

.single-tour_plan__related-none {

}

.single-tour_plan__back {
	margin-top: rem(64);

}

.single-tour_plan__back-button {

}
