@use "global" as *;


.swiper-button {
	width: rem(60);
	height:rem(60);
	cursor: pointer;
	overflow: hidden;
}
.swiper-button:hover {
	transform: scale(1.1);
}

.custom-swiper-button-prev,
.custom-swiper-button-next {
	display: none;
	@include mq(md) {
		display: block;
		background-repeat: no-repeat;
    background-size: contain;
    height: rem(50);
    width: rem(50);
    position: absolute;
    z-index: 2;
		top:rem(48);
		transition: transform .6s ease;
	}
}


.custom-swiper-button-prev {
    background-image: url(../images/pre-page-blue.png);
    right: rem(184);
}

.custom-swiper-button-next {
    background-image: url(../images/next-page-blue.png);
    right: rem(24);
}
