@use "global"as *;

.top-plan {
  overflow: hidden;
}

.top-plan__inner {
  width: 100%;
  height: 100%;
  position: relative;
}

.top-plan__heading {}

.top-plan__cards-wrapper {
  width: 100vw;
  height: 100%;
  margin-top: rem(40);
  padding-bottom: rem(4);

  @include mq(md) {
    margin-top: rem(60);
    margin-right: calc(50% - 50vw);
    padding-bottom: rem(10);
		width: 100vw; /* ビューポートの幅いっぱい */
  left: calc(-50vw + 50%); /* 親要素の中央基準で全幅表示 */
  }
}

.top-plan__cards-wrapper.swiper {
  padding-bottom: rem(10);
}





//swiper-wrapperの範囲を指定
.top-plan__cards {
  width: 100vw;
  height: 100%;
}

.top-plan__button {
  margin-top: rem(40);
  display: flex;
	justify-content: center;
	align-items: center;

  @include mq(md) {
    margin-top: rem(72);
  }
}
